body {
    background-image: linear-gradient(to top right, #ffffff, #eae2b7) ;
    height: 1000px;
    
}
.header {
    overflow: hidden;
    background-color: #e8e8db;
    padding: 20px 10px;
}
#motto {
    position: relative;
    float: right; 
    font-size: 30px;
    margin: 0px;
    right: 5px;
    padding-top: 10px;
    font-family: 'Brush Script MT', cursive;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
.header a:hover {
    background-color: #ddd;
    color: black;
}
.header a.active {
    background-color: dodgerblue;
    color: white;
}
.header-right {
    float: right;
}
@media screen and (max-width: 700px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    body {
        width: 100%;
    }
    .header-right {
        float: none;
    }
    .menu_right {
        display: none;
    }
    #motto {
        text-align: center;
        float: none;
    }
    
    
}
.gaming_chair {
    max-width: 1.5%;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
}
.gaming_chair {
    position: relative;
    top: 5px;
    left: -1px;
}
#title_menu {
    text-align: center;
}
.menu_right {
    width: 200px;
    margin: 0%;    
}
.menu_right a {
    display: block;
    background-color: #e8e8db;
    font-size: 20px;
    text-decoration: none;
    padding: 12px;
}

.menu_right a:hover {
    border-bottom: black 2px solid;
    background-color: #ccc;   
}
#hand_logo {
    width: 23px;
}


/*from here css reg_form*/
.reg_form {
    float: right;
    position: relative;
    bottom: 450px;
    margin-left: 50%;
    margin-right: 50%;
    font-size: 1.5rem;
    padding: 10px;
}
.reg_form * {
    padding: 10px;
}
@media screen and (max-width: 942px) {
    .reg_form {
        left: 20%;
        margin-left: 50%;
        margin-right: 50%;
    }   
}
@media screen and (max-width: 700px) {
    .reg_form {
        left: 20%;
        margin-left: 50%;
        margin-right: 50%;
        top: 60px;
    }   
}
.button {
    text-align: center;
    background-color: #b5e48c;
    border-radius: 3px;
}
.button:hover {
    background-color: #99d98c;
    border: 1px solid #76c893;
}





    
